.form-comment {
  margin-bottom: 40px;

  &__label {
    display: block;
    margin: 0 0 -13px 42px;
    background: $background-body;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;

  }

  &__textarea {
    width: 100%;
    padding: 32px 42px;
    margin-bottom: 38px;
    border: 1px solid rgba(162, 162, 162, 0.3);
    background: transparent;
    border-radius: 30px;
  }

  &-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-right: 14px;
    margin-bottom: 10px;
    width: 162px;
    height: 49px;
  }

  .button_outline {
    width: 193px;
  }

  &-files {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin-left: 26px;

    &__item {
      margin-right: 54px;
      display: inline-block;
    }

    &__link {
      position: relative;
      line-height: 42px;
      color: $color-black;

      &::after {
        content: '';
        position: absolute;
        background-color: $color-black;
        -webkit-mask-image: url('../images/cross.svg');
        mask-image: url('../images/cross.svg');
        width: 20px;
        height: 20px;
        top: 8px;
        right: -30px;
      }
    }

  }
}
