body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  background: $background-body;
  color: $color-black;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
  color: $color-black;
}

a {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
}

.wrap {
  position: relative;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
  @extend %micro-clearfix;

  &_main {
    margin-bottom: 12px;
  }
}

.main {
  width: 100%;
  padding-bottom: 25px;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;


  &-ad {
    margin-bottom: 47px;
    height: 145px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #5A5A5A;

    span {
      color: $color-white;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
    }
  }
}

.content {
  min-height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.caption {
  margin: 0;
  font-weight: 600;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

@include media-breakpoint-up(xs) {
  .caption {
    line-height: 25px;

    &_h1 {
      font-size: 25px;
    }

    &_h2 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &_h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &_h4 {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  .caption {
    line-height: 25px;

    &_h1 {
      font-size: 30px;
    }

    &_h2 {
      margin-bottom: 20px;
      font-size: 25px;
    }

    &_h3 {
      margin-bottom: 20px;
      font-size: 22px;
    }

    &_h4 {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .caption {
    line-height: 42px;

    &_h1 {
      font-size: 42px;
    }

    &_h2 {
      margin-bottom: 38px;
      font-size: 36px;
    }

    &_add {
      margin-bottom: 20px;
      font-size: 35px;
    }

    &_h3 {
      margin-bottom: 36px;
      font-size: 32px;
    }

    &_h4 {
      margin-bottom: 28px;
      font-size: 30px;
    }
  }
}
