.aside-user {
  margin-top: 19px;
  text-align: center;

  &-image {
    position: relative;
    width: 159px;
    height: 159px;
    margin: 0 auto;
  }

  &__icon {
    position: absolute;
    width: 27px;
    height: 27px;

    right: 10px;
    top: 10px;

    &:before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      top: 25%;
      left: 28%;
      background-color: $color-white-always;
      -webkit-mask-image: url('../images/pen.svg');
      mask-image: url('../images/pen.svg');
    }
  }

  &__name {
    margin: 0;
    padding: 20px 0 0;
    font-size: 24px;
    font-weight: 600;
  }

  &__email {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    color: $user-email;
  }
}
