.aside-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  &__item {
    width: 79px;
    height: 79px;
    text-align: center;
    border-radius: 20px;
    margin-right: 7px;
    margin-bottom: 7px;

    &:last-child {
      background-color: $color-red;
      color: $color-white;
      line-height: 70px;
    }

    img {
      border-radius: 15px;
    }
  }
}
