html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input{
  outline: none;
  line-height: normal;
}

textarea {
  resize: vertical;
  vertical-align: top;
}
textarea:focus, input:focus{
  outline: none;
}
button{
  border: none;
  outline: none;
  background: transparent;
}

//Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

a{
  outline: 0;
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
