$img : 'img/';
$fonts: '../fonts/';

//gradient green

$color-red : #FF3359;
$color-dark: #0A0A0A;
$color-black-always: black;
$color-black: #000000;
$color-white: white;
$color-white-always: white;
$color-gray: #EEEEEE;
$color-444: #444444;
$color-yellow: #FDB74F;
$color-dark-red: #D8621F;
$color-red-menu: #FF3359;
$background-body: linear-gradient(0deg, #ECE4E4, #ECE4E4);
$background-header: rgba(196, 196, 196, 0.1);
$background-night: rgba(78, 78, 78, 0.1);
$background-day: transparent;

$border-black: rgba(0, 0, 0, 0.2);
