$img : 'img/';
$fonts: 'fonts/';

//gradient green

$color-red : #FF3359;
$color-dark: white;
$color-black-always: black;
$color-black: white;
$color-white-always: white;
$color-white:black;
$color-gray: #EEEEEE;
$color-444: white;
$color-yellow: #FDB74F;
$color-dark-red: #D8621F;
$color-red-menu: #FF3359;
$color-label: rgba(255, 255, 255, 0.6);

$background-body:  #000000;
$background-header: rgba(196, 196, 196, 0.1);
$background-night: transparent;
$background-input: rgba(255, 255, 255, 0.1);
$background-day: #4E4E4E;

$border-black: rgba(255, 255, 255, 0.2);
$user-email: rgba(255, 255, 255, 0.6);