.header {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 35px;
  background: $background-header;

  &-invert {
    width: 72px;
    height: 38px;
    margin: 0 auto;
    padding: 5px 3px;
    background: $color-white;
    border-radius: 999px;

    &__day {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background: $background-day;
      width: 30px;
      height: 30px;
      border-radius: 999px;

      &::before {
        content: '';
        position: absolute;
        background-color: $color-red;
        -webkit-mask-image: url('../images/moon.svg');
        mask-image: url('../images/moon.svg');
        width: 15px;
        height: 15px;
        top: 7px;
        left: 7px;
      }
    }


    &__night {
      margin: 0 auto;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background: $background-night;
      width: 30px;
      height: 30px;
      border-radius: 999px;

      &::before {
        content: '';
        position: absolute;
        background-color: $color-444;
        -webkit-mask-image: url('../images/sun.svg');
        mask-image: url('../images/sun.svg');
        width: 15px;
        height: 15px;
        top: 7px;
        left: 7px;
      }
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
    width: 157px;
    height: 38px;
    padding: 5px 10px;
    line-height: 26px;
    margin: 0 auto;

    &_outline {
      width: 200px;
      height: 49px;
      padding: 11px 10px;
      color: $color-black;
      margin: 0;

      span {
        &::before {
          background-color: $color-black;
        }
      }
    }
  }

  &__span {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: -7px;
      height: 20px;
      width: 20px;
      background-color: $color-white-always;
      -webkit-mask-image: url('../images/strawberry.svg');
      mask-image: url('../images/strawberry.svg');
    }
  }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {
  .header {
    &-invert {
      float: left;
      margin-right: 5px;
    }

    &-menu {
      float: left;
      width: 80%;
    }

    &__profile {
      float: right;

      &_outline {
        float: none;
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .header {
    &-invert {
      float: left;
      margin-right: 1%;
    }

    &-menu {
      float: left;
      width: 80%;
    }

    &__profile {
      float: right;

      &_outline {
        float: none;
      }
    }
  }
}
